/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
    color: black;
}

footer .socials {
    padding: 1rem;
}

footer .socials a {
    color: black;
    margin: 1rem;
}

